<li class="menu-text">
  <div class="grid-x align-middle grid-padding-x">
    <div class="cell small-12 toggle-label">
      <%= data.label %>
    </div>
    <div class="cell small-8">
      <div class="slider" id="<%= data.id %>" data-slider data-start="<%= data.min %>" data-end="<%= data.max %>" data-initial-start="<%= data.value %>" data-step="<%= data.step %>">
        <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="<%= data.id %>Input"></span>
        <span class="slider-fill" data-slider-fill></span>
      </div>
    </div>
    <div class="cell small-4">
      <input type="number" id="<%= data.id %>Input">
    </div>
  </div>
</li>
<li><hr/></li>
